[v3_ext]
basicConstraints        = critical,CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always
keyUsage                = critical,digitalSignature,keyEncipherment,keyAgreement
extendedKeyUsage        = critical,serverAuth,clientAuth
