[v3_ext]
basicConstraints        = critical,CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always
keyUsage                = critical,digitalSignature,keyAgreement
extendedKeyUsage        = critical,clientAuth
